<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import { VForm } from "vuetify/components";
const userStore = useUserStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.saveUser();
  }
};
const clear = () => {
  userStore.dialog = false;
  userStore.clear();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field label="Legin*" v-model="userStore.editedUser.login" required :rules="[
                    (v) => !!v || 'Login จะต้องไม่ว่างเปล่า',
                    (v) =>
                      v.length >= 5 ||
                      'Login จะต้องมีมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field label="Name*" v-model="userStore.editedUser.name" required :rules="[
                    (v) => !!v || 'Name จะต้องไม่ว่างเปล่า',
                    (v) =>
                      v.length >= 5 ||
                      'Name จะต้องมีมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="Password*" type="password" v-model="userStore.editedUser.password" required
                    :rules="[
                      (v) => !!v || 'Name จะต้องไม่ว่างเปล่า',
                      (v) =>
                        v.length >= 8 ||
                        'Name จะต้องมีมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'Password จะต้องมี ตัวเลข ตัวอักษร เล็ก,ใหญ่ และ Special Charlater',
                    ]"></v-text-field>
                </v-col>
                {{ userStore.editedUser }}
              </v-row>
            </v-container>
          </v-form>

          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>

</style>
